.conItems div {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: 4px;
  margin: 0 auto 5px;
}

@media only screen and (min-width: 600px) {
  .conItems div {
      grid-template: 1fr / 30% 50%;
      grid-gap: 10px;
  }
  .conItems div label {
      text-align: right;
  }
}

#errors {
  display: none;
  max-width: 300px;
  margin: 0 auto;
  background: #efefef;
  color: #ff0000;
  padding: 1em 0.1em;
  text-align: left;
  border-radius: 10px;
}

form {
  margin-top: 1em;
}

.error:not(:focus) {
  border: 1px solid red;
}