input[type="checkbox"] {
  height: unset;
  width: inherit;
}

#game {
  display: grid;
}
#game .btn {
  padding: 10% 6px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 700px) {
  #secTreasureHuntGame {
    display: -moz-grid;
    display: grid;
    grid-template: auto auto / 1fr .5fr;
  }

  #secTreasureHuntGame > header {
    grid-column: span 2
  }

  aside#gameHighscores {
    grid-row: 2;
    grid-column: 2;
  }
  aside#gameHighscores table {
    width: 40%;
    margin: 0 auto;
  }
}